/* Set the background color */
body {
  background-color: #f8f8f8;
}

/* Set the font for the entire page */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

/* Set the font size and color for the headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #333;
}

/* Set the font size and color for the paragraphs */
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #666;
}

/* Set the color and style for the links */
a {
  color: #0077b6;
  text-decoration: none;
  border-bottom: 2px solid #0077b6;
  transition: border-color 0.3s;
}

a:hover {
  border-color: #FBB034;
}

/* Set the color and style for buttons */
button {
  background-color: #0077b6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #FBB034;
}
